
body{
    font-family: Verdana, Geneva, sans-serif;
    font-size: 17px;
    letter-spacing: -0.2px;
    word-spacing: -0.8px;
    color: #00FF0D;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    background-color: #000000;
    
}

button {
    background-color: #61096d;
    border: none;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: small;
  }

#bottom {
    position: fixed;
    background: #000;
    bottom: 5;
    left: 10;
  }

#bottomright {
    position: fixed;
    bottom: 5;
    left: 1210;
    font-size: small
}

a:link {
    color: rgb(255, 255, 0);
}
a:visited {
    color: rgb(255, 255, 0);
}
a:active {
    color: rgb(88, 0, 114);
}

#select > a {
    background-color: #61096d;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 5px 5
}

#selectsmall > a {
    background-color: #61096d;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 5px 5
}

.column {
    float: left;
    width: 33.33%;
    padding: 1px;
  }

.row::after {
    content: "";
    clear: both;
    display: table;
  }

.imagebay {
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-flow: row wrap;
    gap: 10px 10px;
}

.flex {
    display: flex
}

#paradeus {
    margin: 4%;
    margin-right: 8%
}